{% load static %}
<html>
    <head>
        <title>De Site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div id="grad4" class="page-header">
		{% if  user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu">Add Post <span class="glyphicon glyphicon-plus"></span></a>
		{% endif %}
        <h1><a href="/">First Django Site</a></h1>
    </div>
	<div class="navi">
		<ul>
			<li><a classes="active" href="/">Home</a></li>
			{% for post in posts %}
				<li><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>